


<!--<html>-->
<!--<head>-->
<!--<title>reset complete</title>-->
<!--</head>-->
<!--<body style="background-color:powderblue;">-->
<!--<div class="alert alert-success">-->
<!--  <strong>Success!</strong> Ur password has been reset Now u can login!.-->
<!--</div>-->
<!--<button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>-->
<!--</body>-->

<!--</html>-->






<html>
<head>
<title>reset complete</title>
</head>
<body style="background-color:powderblue;">
<div class="alert alert-success">
  <strong>Success!</strong> Ur password has been reset Now u can login!.
</div>


<a href="{% url 'login' %}">login</a>




</body>

</html>

