@media all and (min-width: 480px) {
  .FormPasswordReset {
    padding: 60px 0;
  }

  .FormPasswordReset form {
    margin: 0 auto;
    max-width: 320px;
  }

  .FormPasswordReset .success {
    max-width: 400px;
  }
}

.FormPasswordReset .success {
  margin: 0 auto;
  text-align: center;
}
.FormPasswordReset.success .glyphicon {
  color: grey;
  font-size: 30px;
  margin-bottom: 30px;
}
